@{
    ViewBag.Title = "AdminClientes";
}

<h3>Administrar Clientes</h3>
<br>
<form method="post" action="/Cliente/Alta">
    <input class="btn btn-success" type="submit" value="Alta cliente">
</form>
<br>
<form method="post" action="/Cliente/Baja">
    <input class="btn btn-danger" type="submit" value="Baja cliente">
</form>
<br>
<form method="post" action="/Cliente/Modificar">
    <input class="btn btn-info" type="submit" value="Modificar cliente">
</form>
<br>
<form method="post" action="/Cliente/Buscar">
    <input class="btn btn-warning" type="submit" value="Buscar cliente">
</form>