
@{
    ViewBag.Title = "AdminClientes";
}

<h3>Administrar Clientes</h3>

<form method="post" action="/Cliente/Alta">
    <input type="submit" value="Alta cliente">
</form>
<br>
<form method="post" action="/Cliente/Baja">
    <input type="submit" value="Baja cliente">
</form>
<br>
<form method="post" action="/Cliente/Mod">
    <input type="submit" value="Modificar cliente">
</form>
