
@{
    ViewBag.Title = "AltaCliente";
}

<h2>AltaCliente</h2>

<form method="post" action="Cliente/Alta">
    <input name="Apellido">
    <input name="Nombre">
    <input type="submit" value="Guardar">
</form>
