@model PracticaWebRazor.ViewModels.ViewCliente

@{
    ViewBag.Title = "Baja";
}

<h2>Baja Cliente</h2>

@using (Html.BeginForm("Borrar", "Cliente"))
{
    @Html.ValidationSummary()
    @Html.EditorForModel("BajaTemplate")
    //busca template en Views/Shared/EditorTemplates
    //@Html.EditorForModel() <input type="submit">
}
