@model List<PracticaWebRazor.ViewModels.ViewCliente>

@{
    ViewBag.Title = "Buscar";
}

<h2>Buscar</h2>

@using (Html.BeginForm("Busqueda", "Cliente"))
{
    @Html.TextBox("cliente")
    <input type="submit" value="Buscar"/>
}
<br>

@Html.TextBox("cliente-2")
<input id="btn-buscar" type="submit" value="Buscar"/>

<hr>

<div id="tablaBuscar"></div>

@section scripts
{
    <script src="~/Scripts/busqueda.js"></script> 
}

@* en Layout.cshtml poner @RenderSection("scripts",false) y solo renderiza donde los llamo con RenderSection
entonces no hace falta llamar a jquery aca
con bundle en el layout podria hacer una sola request al servidor para varios scripts *@
