
@model PracticaWebRazor.ViewModels.ViewCliente

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalle</h2>
@using (Html.BeginForm("Modif", "Cliente"))
{
    @Html.EditorFor(x => x.Apellido)
    @Html.EditorFor(x => x.Nombre)
    @Html.EditorFor(x => x.Edad)
    @Html.Hidden("Id",Model.IdCliente)
    <input type="submit" value="Modificar">
}
