@model List<PracticaWebRazor.ViewModels.Cliente> 


@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>
<br>
<hr>
@foreach (var cliente in Model)
{
    <label>@cliente.Apellido</label>
    <label>@cliente.Nombre</label>
    <hr>
}



