@model PracticaWebRazor.ViewModels.ViewCliente
@{
    ViewBag.Title = "Mod";
}

<h3>Modificar cliente</h3>

@using (Html.BeginForm("Mod", "Cliente"))
{
    @Html.ValidationSummary()
    @Html.EditorForModel("ModificarTemplate")
    //@Html.EditorForModel() <input type="submit">
}