<form class="form-horizontal" method="post" action="/Cliente/Borrar">
    <fieldset>

        <!-- Form Name -->
        <legend>Form Name</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="Apellido"></label>
            <div class="col-md-4">
                <input id="Apellido" name="Apellido" type="text" placeholder="Apellido" class="form-control input-md">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="Nombre"></label>
            <div class="col-md-4">
                <input id="Nombre" name="Nombre" type="text" placeholder="Nombre" class="form-control input-md">
            </div>
        </div>

    </fieldset>
<input type="submit" class="btn btn-default" value="Borrar">
</form>
