<form class="form-horizontal" method="post" action="/Cliente/Borrar">
    <fieldset>
        <div class="form-group">
            <label class="control-label" for="Apellido"></label>
            <div>
                <input id="Apellido" name="Apellido" type="text" placeholder="Apellido" class="form-control input-md">
            </div>
            <label class="control-label" for="Nombre"></label>
            <div>
                <input id="Nombre" name="Nombre" type="text" placeholder="Nombre" class="form-control input-md">
            </div>
            <div>
                <br>
                <input type="submit" class="btn btn-default" value="Borrar">
            </div>
        </div>
    </fieldset>
</form>
