<form class="form-horizontal" method="post" action="/Cliente/Modificar">
    <fieldset>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="ApellidoV"></label>
            <div class="col-md-4">
                <input id="ApellidoV" name="ApellidoV" type="text" placeholder="Apellido anterior" class="form-control input-md">
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="NombreV"></label>
            <div class="col-md-4">
                <input id="NombreV" name="NombreV" type="text" placeholder="Nombre anterior" class="form-control input-md">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="ApellidoN"></label>
            <div class="col-md-4">
                <input id="ApellidoN" name="ApellidoN" type="text" placeholder="Apellido nuevo" class="form-control input-md">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="NombreN"></label>
            <div class="col-md-4">
                <input id="NombreN" name="NombreN" type="text" placeholder="Nombre nuevo" class="form-control input-md">

            </div>
        </div>

        <div class="col-md-4">
            <br>
            <input type="submit" class="btn btn-default" value="Modificar">
        </div>

        <!-- Button -->
        @*<div class="form-group">
            <label class="col-md-4 control-label" for="SubmitMod"></label>
            <div class="col-md-4" align="right">
                <button id="SubmitMod" name="SubmitMod" class="btn btn-default" type="submit">Modificar</button>
            </div>
        </div>*@

    </fieldset>

</form>
