@{
    ViewBag.Title = "AdminProductos";
}

<h3>Administrar ventas</h3>
<br>
<form method="post" action="/Ventas/Alta">
    <input class="btn btn-success" type="submit" value="Alta venta">
</form>
<br>
<form method="post" action="/Ventas/Baja">
    <input class="btn btn-danger" type="submit" value="Baja venta">
</form>
<br>
<form method="post" action="/Ventas/Modificar">
    <input class="btn btn-info" type="submit" value="Modificar venta">
</form>
<br>
<form method="post" action="/Ventas/Buscar">
    <input class="btn btn-warning" type="submit" value="Buscar venta">
</form>