@using PracticaWebRazor.Models;
@model Cliente

@{
    ViewBag.Title = "Index";
}
<h1>Inicio</h1>
<br />

<div class="container">
    <div class="input-group">
        <a href="/Cliente/AdminClientes">
            <input class="btn btn-default" type="submit" value="Administrar clientes">
        </a>
        <a href="/Producto/AdminProductos">
            <input class="btn btn-default" type="submit" value="Administrar productos">
        </a>
    </div>
</div>

<br>

@*<div class="container">
    <div class="row">
        <div class="input-group">
            <div class="col-md-pull-5">
                <a href="/Cliente/AdminClientes">
                    <input class="btn btn-default" type="submit" value="Administrar clientes">
                </a>
            </div>
            <div class="col-md-pull-7">
                <a href="/Producto/AdminProductos">
                    <input class="btn btn-default" type="submit" value="Administrar productos">
                </a>
            </div>
        </div>
    </div>
</div>*@
