@using PracticaWebRazor.Models;
@model Cliente

@{
    ViewBag.Title = "Index";
}
<h2>Inicio</h2>
<form method="post" action="/Producto/AdminProductos">
    <input class="btn btn-default" type="submit" value="Administrar productos">
</form>
<br>
<form method="post" action="/Cliente/AdminClientes">
    <input class="btn btn-default" type="submit" value="Administrar clientes">
</form>

@*<input type="submit" formaction="/Cliente/AdminClientes" value="Administrar clientes">*@