@model List<PracticaWebRazor.ViewModels.ViewProducto>

@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>
<br><hr>
@foreach (var prod in Model)
{
    <label>@prod.Nombre</label>
    <label>@prod.Marca</label>
    <label>@prod.Precio</label>
    <hr>
}